@font-face {
  font-family: "cafe";
  src: url(assets/Holidays\ Homework.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fixed-header {
  background-color: #341100;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.logo h1 {
  color: white;
  font-family: "cafe", sans-serif, serif;
}

.h {
  color: red;
}

.e {
  color: green;
}

.fixed-header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.fixed-header a {
  text-decoration: none;
  color: white;
  border-radius: 8px;
  padding: 0 10px;
}

.fixed-header a:active {
  background-color: white;
  color: #341100;
}

.overlay {
  height: 100vh;
  background-image: url(assets/cafebackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  width: 700px;
  border-radius: 16px;
  text-align: center;
}

#section2 {
  background-color: #e1c19b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.heading-of-2 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
}

.left2 p {
  font-size: 1.1rem;
  position: absolute;
  top: 130px;
  left: 250px;
}

.right2 p {
  font-size: 1.1rem;
  position: absolute;
  top: 130px;
  right: 250px;
}

.line {
  width: 1000px;
  height: 6px;
  border-radius: 2px;
  background-image: linear-gradient(
    to right,
    #7a3500,
    #864417,
    #91532a,
    #9c633e,
    #a77251,
    #af7e5f,
    #b8896d,
    #c0957b,
    #c9a087,
    #d2aa92
  );
  position: absolute;
  top: 180px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 22px;
  height: 22px;
  background-color: black;
  border-radius: 50%;
  border: 4px;
  z-index: 2;
}

.card {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 80px;
}

.card-container {
  width: 300px;
  height: 380px;
  background-color: white;
  border-radius: 16px;
}

.card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card-content {
  padding: 20px;
}

#section3 {
  background-color: #805b2f;
  min-height: 100vh;
}

#section3 h1 {
  text-align: center;
  position: relative;
  top: 90px;
}

.whole3 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.drinks-main-card {
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 16px;
}

.drinks-main-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.drinks-content {
  padding: 16px;
}

.drinks-card {
  width: 400px;
  height: 230px;
  background-color: white;
  border-radius: 16px;
  display: flex;
}

.drinks-card img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px 0 0 16px;
}

.right-card {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 230px 230px;
  gap: 30px;
}

button {
  background-color: #341100;
  width: 100%;
  border: none;
  border-radius: 16px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

#section4 {
  background-image: linear-gradient(
    to bottom,
    #7a3500,
    #762f0e,
    #712a18,
    #6a2720,
    #612525
  );
  min-height: 100vh;
  color: white;
  position: relative;
}

#section4 h1 {
  position: relative;
  top: 90px;
  text-align: center;
}

.photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  position: absolute;
  bottom: 30px;
}

#section4 img {
  width: 250px;
  height: 250px;
  border: 8px solid white;
  transition: all 0.3s ease;
}

#section4 img:hover {
  transform: scale(1.1);
}

#section5 {
  background-color: #fff7e8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole5 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 80px;
}

.whole5 h1 {
  font-family: "cafe", sans-serif, serif;
  margin-bottom: 10px;
}

.contact {
  flex: 1;
}

.contact p {
  border-bottom: 2px solid #5e5551;
  padding: 20px;
  font-size: 1.1rem;
}

.form {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px gray;
}

.now {
  color: #aa3515;
}

.name-email {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.name-email input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

textarea {
  height: 180px;
  resize: none;
}

.send {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 50px;
  background-color: #3b120d;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #5a231c;
}

footer {
  background-color: #341100;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
}
